@charset "utf-8";

/* default settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fonts */

/* fonts */


/* refs */

/* refs */

/* default settings */




header {    
    width: 100vw;
    position: fixed;
    padding: 25px;
    display: flex;
    height: 90px;
    background: var(--header-background);
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

header .nav{
    display: none;
}

header a{
    display: flex;
}

header a svg {
    height: 40px;
    color: var(--header-color);
}

header a {
    align-items: center;
    display: flex;
    text-decoration: none;
    color: var(--header-color);
    font-size: 20px;
}

@media screen and (min-width: 768px){
    header .nav{
        display: flex;
    }
}

@media screen and (max-width: 768px){
    header{
        background: none;
    }
    img{
        justify-content: center;
        align-items: center;
    }
}

.logo {
    border: none;
    width: 200px;
    transform: translatey(5px);
}
