@charset "utf-8";

/* default settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    background: #ccc;
}

/* fonts */

/* fonts */


/* refs */

/* refs */

/* default settings */

header{
    background: #fff;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
}

li, a{
    display: flex;
    padding: 0.5em;
    align-items: center;
    color: #000;
    text-decoration: none;
}

.material-symbols-outlined{
    overflow-y: hidden;
    padding: 0.3em;
    color: #6104a8;
}

@media screen and (max-width: 768px) {
    header{
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    .logo{
        display: none;
    }
    li p{
        display: none;
    }
    li{
        padding: 0;
    }
}


