@charset "utf-8";

/* default settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background: #ccc;
}

/* fonts */

/* fonts */


/* refs */

/* refs */

/* default settings */



header {
    background: #fff;
}
/* 
.logo {
    width: 450px;
} */

.navbar {
    z-index: 2000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icons, .navlink {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    text-decoration: none;
}

.navlink p{
    width: fit-content;
}
.navlink span{
    width: fit-content;
    overflow-y: hidden;
}


.material-symbols-outlined {
    overflow-y: hidden;
    color: #6104a8;
}

@media screen and (max-width: 768px) {
    header {
        position: fixed;
        bottom: 0;
        width: 99%;
        margin: 0.1em;
        background: var(--purple);
        border-radius: 30px;
        padding: 0.8em 0 0.8em 0;
    }

    .logo {
        display: none;
    }

    li p {
        display: none;
    }

    li {
        padding: 0;
    }

    .material-symbols-outlined {
        color: var(--light-purple);
    }
}