* {
    text-decoration: none;
}

a {
    font-weight: 500;
    color: var(--gray);
    font-size: var(--base);
}

label {
    color: var(--darker-purple);
    font-weight: 600;
    font-size: var(--lg);
}

h2 {
    color: var(--dark-purple);
    margin-top: 1.5rem;
    font-size: var(--3xl);
    font-weight: 1000;
    letter-spacing: -0.1rem;
    font-family: roboto;
}


.container .section {
    padding: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: var(--cyan);
    font-weight: 1000;
    color: var(--dark-purple);
    font-family: roboto;
    transition: 0.5s;
}

.btn:hover {
    color: var(--cyan);
    background-color: var(--dark-purple);
}


/* lg */
@media (min-width: 1024px) {
    .container .section {
        height: 100vh;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin: 0 auto;
        position: relative;
    }

    .container .section .pop-up {
        height: 100vh;
        width: 27.5vw;
    }

}