@charset "utf-8";

/* default settings  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* fonts */

/* fonts */

:root {
    --white: #fff;
    --black: #000;
    --purple: #5E17EB;
    --cyan: #048A81;
    --lite-blue:#5ce1e6;
    
    --header-color: var(--purple);
    --header-background: var(--white);
    --navBar: var(--purple);
    --body: var(--black);
    --btn:var(--purple);
    --nav-selected:var(var(--lite-blue));
}

body {
    padding: 0;
    border: 0;
    width: 100vw;
    overflow-x: hidden;
    font-family: sans-serif;
}

/* ref */

/* ref */

/* default settings  */

/* ------------------------ */

.landing-page{
    height: 100vh;
    width: 100% !important;
    /* background: url(../../assets/design3.jpeg); */
    background: #e3c7ff;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 4.5em;   
}

.landing-texts{
    display: flex;
    justify-content: space-between;
    margin: 5em;
}

.l-text:nth-child(2){
    text-transform: uppercase;
}

.l-text{
    font-weight: 700;
}

.content{
    margin: 4.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.content .btn{
    width: 80px;
}

@media screen and (max-width: 768px){
    .landing-page{
        margin-top: 0;
    }
}