@charset "utf-8";

/* default settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    background: linear-gradient(103deg, #ffffff 34%, #ef00ff 36%, #5c037e 56%, #5c0078 59%, #5800b6 81%, #2b0036 84%);
}

/* fonts */

/* fonts */


/* refs */

/* refs */

/* default settings */

.btnSection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50vw;
    margin: 1em;
}

.textSection {
    text-align: center;
}

.textSection h2 {
    color: black;
    text-transform: uppercase;
}

.textSection h2 span {
    color: var(--ciano);
}

p {
    width: 50vw;
    margin: 2em;
}

iframe {
    width: 80vw;
    height: 30vh;
}

.card {
    width: 100%;
}

.card p {
    margin: 1em;
    width: 100%;
}

.cHead {
    display: flex;
    flex-direction: row;
}

.card:nth-child(odd) .cHead {
    flex-direction: row-reverse;
}

.card .cHead img {
    width: 30%;
}

@media screen and (min-width: 768px) {
    #LPSection {
        flex-direction: row;
        padding: 50px;
    }

    iframe {
        width: 35vw;
        height: 35vh;
    }
}

@media screen and (max-width: 768px) {
    #btnS {
        transform: translateY(+39vh);
    }

    .btnSection {
        width: 100vw;
    }

    iframe{
        transform: translateY(-3vh);
    }

    p {
        margin-left: 10vw;
        width: 80VW;
        text-align: center;
    }
}