@charset "utf-8";

* {
    border: solid red 1px;
}


.section {
    background: var(--background);
    width: 100vw;
}

.profile {
    padding-top: 80px;
    padding-bottom: 60px;
}
.perfil {
    background: #1D152E;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 95vw;
    padding: 5vw;
    gap: 12px;
    border-radius: 40px;
    color: #fff;
}

.perfil img {
    border: solid #ebdc17 8px;
}


.perfil P {
    color: var(--purple);
    width: 80vw;
    font-size: 1.4em;
}

.perfil span {
    color: #fff;
}

.perfil h2,
h3 {
    text-align: center;
    font-size: 2em;
}

.email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    width: 100vw;
}

.btn-perfil {
    background: var(--purple);
    color: #fff;
    font-size: 1.2em;
    padding: 0 20px;
    border: solid #fff 5px;
    border-radius: 30px;
}

.btn-close {
    font-size: 1.8em;
    background: red;
    padding: 0 10px;
    border: none;
    border-radius: 50%;
}
.btn-primary{
    color: #fff;
}
.modal {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    background: var(--purple);
    color: #fff;
    padding: 30px;
    border-radius: 30px;
    z-index: 20;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}



.modal-footer{
    display: flex;
    justify-content: center;
}

/* .blur {
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: 20;
} */