.container .section {
    padding: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sign-in h2 {
    margin-top: 1rem;
    font-weight: 1000;
    font-family: roboto;
}

.sign-in-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: var(--cyan);
    font-weight: 1000;
    color: var(--dark-purple);
    font-family: roboto;
    transition: 0.5s;
}

.btn:hover {
    color: var(--cyan);
    background-color: var(--dark-purple);
}

/* lg */
@media (min-width: 1024px) {
    .container .section {
        height: 100vh;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin: 0 auto;
        position: relative;
    }

    .container .section .pop-up {
        height: 100vh;
        width: 35vw;
    }

}