@charset "utf-8" ;

/* default settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fonts */

/* fonts */


/* refs */

/* refs */

/* default settings */

/* ----------------------- */

nav {
    display: flex;
    justify-content: space-evenly;
    background: var(--navBar);
    height: 70px;
    width: 94vw;
    border-radius: 30px;
    margin-left: 3vw;
    position: fixed;
    bottom: 0;
    z-index: 5;
}

@media screen and (min-width: 768px){
    nav{
        display: none;
    }
}

svg {
    height: 40px;
    margin: 15px;
    color: #fff;
}

svg .selected{
    color: aqua;
    background-color: #ff00ff;
}
/* 
@media screen and (max-width:322px) {
    transform: 
} */