@charset "utf-8";

:root {
    --white: #fff;
    --black: #000;
    --purple: #5E17EB;
    --ciano: #048A81;

    --header-color: var(--purple);
    --header-background: var(--white);
    --navBar: var(--purple);
    --body: var(--black);
    --btn:var(--purple);

}

body {
    padding: 0;
    border: 0;
    width: 100vw;
    background: var(--black);
    overflow-x: hidden;
}

p {
    width: 50vw;
}



.section {
    width: 100%;
    margin: auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    background-color: var(--white);
}

.textSection {
    text-align: center;
}

.textSection h2

#LPSection span {
    color: var(--ciano);
}

iframe {
    width: 80vw;
    height: 30vh;
}

@media screen and (min-width: 768px) {
    #LPSection {
        flex-direction: row;
        padding: 50px;
    }
    iframe{
        width: 35vw;
        height: 35vh;
    }
}

@media screen and (max-width: 768px) {
    .btnSection{
        transform: translateY(37vh);
    }
}

.btn {
    padding: 0.7em 2em;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    background: var(--btn);
}

.pop-up{
    width: 65%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    background: var(--purple);
    border-radius: 20px;
    padding-bottom: 4em;
}

.pop-up p {
    align-self: center;
    text-align: justify;
}

.close-button svg {
    color: var(--ciano);
    display: flex;
    align-self: flex-end;
}

.exit-btn svg {
    color: #d30000;
    background: #fff;
    border-radius: 100px;
    height: 30px;
}