@charset "utf-8";

/* default settings  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fonts */

/* fonts */

:root {
    --white: #fff;
    --black: #000;
    --purple: #5E17EB;
    --cyan: #048A81;
    --lite-blue:#5ce1e6
    
    --header-color: var(--purple);
    --header-background: var(--white);
    --navBar: var(--purple);
    --body: var(--black);
    --btn:var(--purple);
    --nav-selected:var(var(--lite-blue));
}

body {
    padding: 0;
    border: 0;
    width: 100vw;
    overflow-x: hidden;
    font-family: sans-serif;
}

/* ref */

/* ref */

/* default settings  */

/* ------------------------ */

.section {
    width: 100%;
    margin: auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    background-color: none;
    background-attachment: fixed;
}

.section:nth-child(2) {
    background: blue;
}

.card {
    display: flex;
    flex-direction: column;
}

.btn {
    padding: 0.7em 2em;
    font-weight: 900;
    border: none;
    border-radius: 10px;
    background: var(--btn);
    border: 5px, solid, var(--btn);
    text-wrap: nowrap;
}

.btn1 {
    border: 5px, solid, var(--btn);
    background: none; 
    color: var(--btn);
    background: #ffffff9f;
}

/* sera ativado com js */
.pop-up{
    width: 65%;
    text-align: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    background: var(--purple);
    border-radius: 20px;
    padding-bottom: 4em;
}

.pop-up p {
    align-self: center;
    text-align: justify;
}

.close-button svg {
    color: var(--ciano);
    display: flex;
    align-self: flex-end;
}

.exit-btn svg {
    color: #d30000;
    background: #fff;
    border-radius: 100px;
    height: 30px;
}
.bottom{
    padding-bottom: 100px;
}