@charset "utf-8";

/* default settings  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fonts */

/* fonts */

:root {
    --white: #fff;
    --black: #000;
    --purple: #5E17EB;
    --ciano: #048A81;
    
    --header-color: var(--purple);
    --header-background: var(--white);
    --navBar: var(--purple);
    --body: var(--black);
    --btn:var(--purple);
}

body {
    padding: 0;
    border: 0;
    width: 100vw;
    overflow-x: hidden;
}

/* ref */

/* ref */

/* default settings  */

/* ------------------------ */


p {
    width: 50vw;
    margin: 2em auto;
}

.section {
    width: 100%;
    margin: auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    background-color: var(--white);
}

.section:nth-child(2) {
    background: blue;
}

.card {
    display: flex;
    flex-direction: column;
}

.btn {
    padding: 0.7em 2em;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    background: var(--btn);
}

.pop-up{
    width: 65%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    background: var(--purple);
    border-radius: 20px;
    padding-bottom: 4em;
}

.pop-up p {
    align-self: center;
    text-align: justify;
}

.close-button svg {
    color: var(--ciano);
    display: flex;
    align-self: flex-end;
}

.exit-btn svg {
    color: #d30000;
    background: #fff;
    border-radius: 100px;
    height: 30px;
}
