@charset "utf-8";

:root {

    --card: var(--dark-purple);
    --span: var(--white);
    --p: var(--purple);
    --text: var(--white);
    --background-profile: var(--darker-purple);
    --background-change-password: var(--dark-gray);

}

*,
span,
h2,
h3 {
    color: #fff;
}

body {
    min-height: 100vh;
    background-color: var(--light-purple);

}

header {
    z-index: 8;
}

.section {
    min-height: 50vh;
    padding: 5rem;
}

.logo-profile {
    display: none;
}

.profile-card {
    background: var(--background-profile);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    width: 95vw;
    padding: 30px;
    gap: 20px;
    border-radius: 40px;
    color: #fff;
}

.profile-card img {
    width: 150px;
    height: 150px;
}

.profile-text {
    display: flex;
    flex-direction: column;
    gap: 12.5px;
}

/* md */
@media (max-width: 768px) {

    .logo-profile {
        display: flex;
    }

    .logo-sign-in {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}
